SECRET_KEY=" YOUR SECRET KEY"
MEDIA_FOLDER="/path/to/media/folder"
# SQLALCHEMY_DATABASE_URI="postgresql://arnv:arnv@localhost:5432/arnv" # Also supports any other database
SQLALCHEMY_DATABASE_URL="sqlite:////path/to/db"
LOGFILE="/tmp/library_builder.log"
